<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SkillHub{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="/assets/js/main.js"></script>
        {% endblock %}
    </body>
</html>
